<div id="app">
</div>
<div class="hidden">
  <h1>Burgers Index</h1>
  <h1>All Burgers:</h1>
  <ul>
    <% @burgers.each do |burger| %>
      <li><%= link_to burger.name, burger_path(burger) %></li>
    <% end %>
  </ul>
</div>
