<h1>Home Page </h1>
<h1>Nine to Five Guys</h1>
<h3>Nine Burgers to Know</h3>

<% if current_user.present? %>
  <%= current_user.email %></br>
<% end %>
<%= link_to "Log In", new_user_session_path%></br>
<%= link_to "Log Out", destroy_user_session_path, :method => :delete %></br>
<%= link_to "Sign Up", new_user_registration_path%></br>
