<h1> Admin Page </h1>

<% @users.each do |user| %>
<p><%= link_to user.username, user_path(user)%>
    <%if !user.admin%>
  <p><%= link_to "Delete User Profile", user, method: :delete, data: {confirm: "Are you sure?"}, class: "delete" %></p>
<%end%>
<%end%>
