// Place all the styles related to the Burgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-yellow: #F9BA15;

#burger_image {
  max-width: 200px;
  max-height: 200px;
}

.title {
  text-align: center;
  padding-bottom: 30px;
}

.burger_submit {
  list-style-type: none;
}

.last-user {
  font-size: 15px;
  border: 1px dashed $primary-yellow;
  margin: 0px 100px;
}

.img-burg {
  cursor: pointer;
}

.burger-react {
  text-align: center;
}

.burger-info {
  margin: 30px 0px;
  font-family: "Rightous";
  font-style: italic;
}

.burger-description {
  margin-bottom: 30px;
}

.burger-title{
  font-size: 40px;
  font-weight: 500;
}
