// Place all the styles related to the Burgers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#burger_image {
  max-width: 200px;
  max-height: 200px;
  background-color: cyan;
}
.title {
  text-align: center;
  padding-bottom: 30px;
}
