$primary-green: #008000;
$primary-white: #f0f0f0;
$primary-black: #0A0310;
$primary-yellow: #F9BA15;
$primary-red: #FF0000;
$primary-grey: #848484;
@import url('https://fonts.googleapis.com/css?family=Artifika');

body {
  background-blend-mode: screen;
  background-color: lightgrey;
  background-image: image-url("burger-wallpaper.jpg");
}

header {
  background-color: $primary-black;
  color: $primary-white;
  opacity: 0.7;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-green;

}

ul {
  list-style-type: none;
}

a {
  color: $primary-green;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
}

a:hover {
  color: $primary-yellow;
  cursor: image-url('cursorburger.png'), default;
}

#title {
  font-family: 'Artifika', serif;
  color: $primary-black;
  font-size: 80px;
  text-align: center;
  text-shadow: 4px 4px 2px $primary-grey;
}

.main {
  background-blend-mode: screen;
  background-color: $primary-white;
  background-image: image-url("burger-wallpaper.jpg");
  border: 3px solid $primary-black;
  border-radius: 25px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
  padding: 10px 10px 200px;
  box-shadow: 10px 10px 5px $primary-grey;
}

.search {
  background-color: $primary-white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 270px;
}

.loginbox {
  margin-top: 25px;
}

ul.resta-items {
}

.restaurant-list{
  margin-top: 10px;
}
