$primary-green: green;
$primary-white: #f0f0f0;
$primary-green: green;

body {
  background-blend-mode: screen;
  background-color: lightgrey;
  background-image: image-url("burger-wallpaper.jpg");
}

header {
  background-color: #0A0310;
  color: $primary-white;
  opacity: 0.7;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-green;
}

a {
  color: $primary-green;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
}

a:hover {
  color: #F9BA15;
  cursor: image-url('cursorburger.png'), default;
}

#title {
  font-family: "Papyrus";
  font-size: 80px;
  text-align: center;
}

.main {
  background-blend-mode: screen;
  background-color: $primary-white;
  background-image: image-url("burger-wallpaper.jpg");
  border: 1px solid #848484;
  margin-top: 30px;
  padding: 10px 10px 200px;
}

.search {
  background-color: $primary-white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 270px;
}

button {
  height:70px;
  transition:all 0.3s ease;
  width:140px;
}

button:hover {
  box-shadow: inset 0 0 0 25px $primary-green;
}

#homelogo {
  margin-top: 30px;
}
