body {
  background-image: image-url('burger-wallpaper.jpg');
  background-color: lightgrey;
  background-blend-mode: screen;
}

header {
  background-color: #0A0310;
  color: #f0f0f0;
  opacity: 0.7;
  padding-bottom: 2px;
  border-bottom: 2px solid green;
}

a {
  color: green;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
}

a:hover {
  color: #F9BA15;
  cursor: image-url('cursorburger.png'), default;
}

#title {
  font-family: "Papyrus";
  font-size: 80px;
  text-align: center;
}

.main {
  border: 1px solid #848484;
  margin-top: 30px;
  padding: 10px 10px 200px 10px;
  background-image: image-url('burger-wallpaper.jpg');
  background-color: #f0f0f0;
  background-blend-mode: screen;
}

.search {
  width: 270px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

button {
  width:140px;
  height:70px;
  transition:all 0.3s ease;
}

button:hover {
  box-shadow: inset 0 0 0 25px green;
}
