body {
  background-image: image-url('burger-wallpaper.jpg');
  background-color: lightgrey;
  background-blend-mode: screen;
}

header {
  background-color: black;
  color: #f0f0f0;
  opacity: 0.7;
  padding-bottom: 15px;
  border-bottom: 2px solid green;
}

a {
  color: green;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
}

a:hover {
  color: yellow;
  cursor: image-url('cursorburger.png'), default;
}
