$primary-green: #008000;
$primary-white: #f0f0f0;
$primary-black: #0A0310;
$primary-yellow: #F9BA15;
$primary-red: #FF0000;
$primary-grey: #848484;

body {
  background-blend-mode: screen;
  background-color: lightgrey;
  background-image: image-url("burger-wallpaper.jpg");
}

header {
  background-color: $primary-black;
  color: $primary-white;
  opacity: 0.7;
  padding-bottom: 2px;
  border-bottom: 2px solid $primary-green;
}

a {
  color: $primary-green;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 2px 0px 2px;
}

a:hover {
  color: $primary-yellow;
  cursor: image-url('cursorburger.png'), default;
}

#title {
  font-family: "Papyrus";
  font-size: 80px;
  text-align: center;
}

.main {
  background-blend-mode: screen;
  background-color: $primary-white;
  background-image: image-url("burger-wallpaper.jpg");
  border: 1px solid $primary-grey;
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px 10px 200px;

}

.search {
  background-color: $primary-white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 2px solid lightgrey;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px 20px 12px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 270px;
}

.submit {
  font-weight: bolder;
  color: $primary-green;
  background: transparent;
}

.submit:hover {
  background-color: $primary-green;
  color: $primary-white;
}

#homelogo {
  margin-top: 30px;
}

.resta-items {
  margin-left: 60px;
}

.restaurant-list{
  margin-top: 10px;
}
