// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating {
  padding-bottom: 50px;
}

.upvote, .downvote {
  font-size: 25px;
}

.downvote {
  margin-top: 5px;
}

.upvote:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: $primary-green;
}

.downvote:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  color: $primary-red;
}

.title {
  margin-top: 25px;
}

.radio-buttons {
  border-right: 1px dashed $primary-green;
  padding-right: 10px;
}

.radio-buttons:last-child {
  padding-right: 10px;
}

.hidden {
  display:none
}
